@import "./reset";
@import "./variables/fonts";
@import "./themes/dark";
@import "./themes/light";

.app {
    background-color: var(--white);
    color: var(--black);
    min-height: 100vh;
    transition: 0.3s;
    font-family: $font-poppins;
}