@import "./reset.scss";
@import "./variables/fonts.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";


.app {
    background-color: var(--white);
    color: var(--black);    
    min-height: 100vh;
    transition: .3s;
}