@import "/src/App/styles/index";

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info {
    font-family: $font-poppins;
    font-size: $fs-huge;
    color: var(--black);
}