@import "https://fonts.googleapis.com/css2?family=Poppins&display=swap";

$fs-small: small;
$fs-normal: normal;
$fs-medium: medium;
$fs-large: large;
$fs-huge: 2em;
$font-poppins: "Poppins", sans-serif;