@import "https://fonts.googleapis.com/css2?family=Poppins&display=swap";

body {
    --fs-small: small;
    --fs-normal: normal;
    --fs-medium: medium;
    --fs-large: 1.3em;
    --fs-huge: 2em;
    --fw-bold: 700;
    --fw-normal: 400;
    --fw-light: 300;
    --font-poppins: "Poppins", sans-serif;
}