@import "/src/App/styles/index.scss";

.form {
    padding: 20px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary);
}

.title {
    margin-bottom: 20px;
    font-size: $fs-large;
    text-align: center;
    color: var(--font-color);
}

.fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}