@import "/src/App/styles/index";

button.button {
    background-color: var(--primary);
    color: var(--font-color);
    cursor: pointer;

    &:hover {
        background-color: var(--primary);
    }
}