.counter {
    padding: 20px;
    width: fit-content;
    border-radius: 3px;
    background-color: var(--secondary);
    box-shadow: 0 1px 5px rgba($color: #000, $alpha: 40%);
}

.title {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: var(--font-color);
}

.controls {
    display: flex;
    gap: 20px;
}