.imageset {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--secondary);
}

.wrapper {
    display: flex;
    max-height: 460px;
}

.navbar {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: var(--medium-border-radius);
        background: var(--background-thumb-color);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--background-thumb-selected-color);
    }
}

.image_preview {
    max-width: 100px;
    max-height: 100px;

    &.selected {
        outline: 4px solid var(--selected-primary);
        outline-offset: -4px;
    }
}

.main {
    flex: 1;
}

.poster {
    width: 100%;
    height: 100%;
    background-size: cover;
}