body.dark {
    --primary: #f8f4fb;
    --secondary: #5b1f83;
    --accent: #191763;
    --font-color-primary: #f8f4fb;
    --font-color-secondary: #665e6c;
    --font-color-accent: #191763;
    --font-color-danger: #bb2124;
    --shadow: rgb(0 0 0 / 40%);
    --background-thumb-color: #888;
    --background-thumb-selected-color: #555;
    --selected-primary: #191763;
}