body.dark {
    --primary: #000;
    --secondary: #222;
    --shadow: rgb(0 0 0 / 40%);
    --font-color: #fff;
    --background-thumb-color: #888;
    --background-thumb-selected-color: #555;
    --selected-primary: #a020f0;
}