body.light {
    --primary: #fff;
    --secondary: #ccc;
    --shadow: rgb(0 0 0 / 40%);
    --font-color: #000;
    --background-thumb-color: #888;
    --background-thumb-selected-color: #555;
    --selected-primary: #ffa500;
}