body.light {
    --primary: #f8f4fb;
    --secondary: #d3c4dd;
    --accent: #ababcf;
    --shadow: rgb(0 0 0 / 40%);
    --font-color-primary: #f8f4fb;
    --font-color-secondary: #d3c4dd;
    --font-color-accent: #ababcf;
    --font-color-danger: #bb2124;
    --background-thumb-color: #888;
    --background-thumb-selected-color: #555;
    --selected-primary: #ababcf;
}