.list {
    padding: 20px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    color: var(--font-color-primary);
}

.link {
    text-decoration: none;
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-large);
    color: var(--font-color-primary);

    &:hover {
        color: var(--selected-primary);
    }
}