@import "/src/App/styles/index";

.header {
    min-height: 90px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search {
    flex: 1;
    margin: 0 30px;
}

.controls {
    display: flex;
    gap: 20px;
}

.link {
    color: var(--font-color);
    cursor: pointer;
}

.logotype {
    width: 40px;
    height: 40px;
}

.button {
    min-height: 50px;
}