.about {
    width: 100%;
    height: 500px;
    background-color: var(--secondary);
    border-radius: var(--small-border-radius);
}

.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.actions {
    display: flex;
    gap: 20px;
}